/* Layout principale */
.layout {
  display: flex;
  height: 100vh; /* 100% viewport height */
  width: 100vw;
  overflow: hidden;
  
}

/* Sidebar sinistra */
app-spalla-sx {
  flex-shrink: 0;
  width: 260px;
  height: 100%;
}

/* Contenuto principale */
.content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  background-color: #f4f4f4; /* opzionale */
}
body{
    margin: 0;
    padding: 0;
}