<div class="content">
  <div class="login-card">
    <h2>Registrati</h2>
    <form [formGroup]="formLogin">
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" placeholder="Inserisci username" required />

      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" placeholder="Inserisci password" required />

      <button type="submit" (click)="register()">Registrati</button>
    </form>
  </div>
</div>
