
  <div class="layout">

    <app-spalla-sx></app-spalla-sx>
   
<main class="content">
    <h1>Simulazione Mutuo</h1>
    <form id="mortgage-form" [formGroup]="mutuoForm">
      <label for="purpose">Finalità del mutuo:</label>
      <select id="purpose" required formControlName="finalita">
        <option value="">-- Seleziona --</option>
        <option value="prima_casa">Acquisto prima casa</option>
        <option value="seconda_casa">Acquisto seconda casa</option>
      </select>

       <label for="valore">Valore casa: </label>
      <input type="number" id="valore" formControlName="valoreCasa" />


      <label for="amount">Importo richiesto (€):</label>
      <input type="number" id="amount" formControlName="importoRichiesto"/>

      <label for="years">Durata (anni):</label>
      <input type="number" id="years" formControlName="durata"/>

      <label for="age">Età richiedente:</label>
      <input type="number" id="age" formControlName="etaRichiedente" />

      <label for="rate-type">Tipo di tasso:</label>
      <select id="rate-type" required formControlName="tipoTasso">
        <option value="">-- Seleziona --</option>
        <option value="FISSO">Fisso</option>
        <option value="VARIABILE">Variabile</option>
      </select>

   
      <label>
        <input type="checkbox" id="assicurazione" />
        Includi assicurazione mutuo (0.2% annuo)
      </label>
      <section id="loan-result" aria-live="polite" *ngIf="finanziamentoCalcolato.costoTotale != 0 && finanziamentoCalcolato.rataMensile != 0 && finanziamentoCalcolato.totInteressi != 0">
      <p><strong>Rata mensile:</strong> <span id="result-purpose">{{finanziamentoCalcolato.rataMensile}}  </span></p>
      <p><strong>Costo totale Finanziamento</strong> <span id="monthly-payment">{{finanziamentoCalcolato.costoTotale}}</span></p>
      <p><strong>Totale interessi pagati:</strong> <span id="total-cost">{{finanziamentoCalcolato.totInteressi}}</span></p>
    </section>
      <button type="submit" id="calculate-btn" (click)="calcolaRataMensile()">Calcola rata mensile</button>
    </form>

   
  </main>
 </div>