<div class="content">
  <div class="login-card">
    <h2>Accedi</h2>
    <form [formGroup]="formLogin">
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" placeholder="Inserisci username" required />

      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" placeholder="Inserisci password" required />

      <p style="margin-top: 1rem; font-size: 0.9rem;">
        Non hai un account? <a routerLink="/registrati">Registrati</a>
      </p>

      <button type="submit" (click)="login()">Login</button>
    </form>
  </div>
</div>