<div class="layout">
  <app-spalla-sx></app-spalla-sx>

  <div class="main-content">
    <div class="card">
      <h2>Simulazione Conto Deposito</h2>
      <form id="sim-form" [formGroup]="formConto">
        <label for="importo">Importo da vincolare (€)</label>
        <input type="number" id="importo" required formControlName="importoDaVincolare"/>

        <label for="durata">Durata (mesi)</label>
        <select id="durata" required formControlName="durata">
          <option value="6">6 mesi</option>
          <option value="12">12 mesi</option>
          <option value="24">24 mesi</option>
        </select>

        <label for="tasso">Tasso d’interesse annuo (%)</label>
        <input type="number" id="tasso" disabled value="2" required />

        <button type="button" (click)="calcola()">Calcola</button>
      </form>

      <!-- Sposta qui il blocco risultato, subito dopo il form -->
      <div id="calcolo-result" class="calcolo-result" *ngIf="simulazioneCalcolata != null">
        <h3>Risultato del Calcolo</h3>
        <p><strong>Importo vincolato:</strong> {{simulazioneCalcolata.importoDaVincolare}} </p>
        <p><strong>Durata:</strong>{{simulazioneCalcolata.durata}} </p>
        <p><strong>Interessi maturati:</strong> {{simulazioneCalcolata.interessiMaturati}} </p>
        <p><strong>Totale a scadenza:</strong> {{simulazioneCalcolata.totaleScadenza}} </p>
      </div>

      <div class="result" id="risultato"></div>
    </div>
  </div>
</div>
